<div class='w-full min-h-screen bg-black text-white rounded-t-3xl mt-8 md:mt-0'>
    <div class='flex flex-col md:flex-row justify-between p-8 md:px-32 px-5'>
      <div class='w-full md:w-1/4'>
          <h1 class='text-teal-500 font-semibold text-xl pb-4'>Sabores de Venezuela</h1>
          <p class='text-sm'>Los principales platos que se deben probar
          para dar fiesta al paladar y transportarse al caribe venezolano son:
          las arepas, las empanadas y los tequeños.
          </p>
      </div>
      <div>
          <h1 class='font-medium text-xl pb-4 pt-5 md:pt-0'>Empanadas</h1>
          <nav class='flex flex-col gap-2'>
          <a class="hover:text-teal-500 transition-all cursor-pointer">Carne</a>
          <a class="hover:text-teal-500 transition-all cursor-pointer" >Carne c/queso</a>
          <a class="hover:text-teal-500 transition-all cursor-pointer" >Pollo</a>
          <a class="hover:text-teal-500 transition-all cursor-pointer">Pollo c/queso</a>
          </nav>
      </div>
      <div>
          <h1 class='font-medium text-xl pb-4 pt-5 md:pt-0'>Tequeños</h1>
          <nav  class='flex flex-col gap-2'>
          <a class="hover:text-teal-500 transition-all cursor-pointer">Queso</a>
          <a class="hover:text-teal-500 transition-all cursor-pointer">Jamon c/queso</a>
          <a class="hover:text-teal-500 transition-all cursor-pointer">Torta 3 leches</a>
          <a class="hover:text-teal-500 transition-all cursor-pointer">Combo tropical</a>
          </nav>
      </div>
    </div>
        <div class='flex flex-row items-center justify-center gap-6'>
        <button class='flex border-2 border-black bg-black p-2 rounded-full text-white gap-4'>
          <a class="text-teal-500 text-4xl hover:text-teal-800 "></a>
          <a class="text-teal-500 text-4xl hover:text-teal-800" ></a>
          <a class="text-teal-500 text-4xl hover:text-teal-800" ></a>
        </button>
        </div>
        <div class='flex items-center justify-center'>
          <button class='grid grid-cols-1'>
            <a class='flex text-center text-teal-500 font-semibold text-2xl hover:text-teal-800'>HOME</a>
          </button>
        </div>
    <div>
     <p class='text-center text-sm py-4'>
       <>Sabores de Venezuela 2023
      <span class='text-teal-500'>Developer Luis Enrique Diaz </span>
     </p>
    </div>
    <br>
  </div>
